beautifulsoup4
trafilatura
requests
lxml
underthesea
chonkie[model2vec]
yt-dlp
faster-whisper
sentence-transformers
bertopic
pyyaml
openpyxl
kg_gen
networkx
pyvis
# causalgraph
py_vncorenlp
pandas
python-dotenv
google-genai
